stages:
  - test
  - build
  - deploy

test:php:
 image: edbizarro/gitlab-ci-pipeline-php:7.3 
 stage: test
 script:
 - composer install --prefer-dist --no-ansi --no-interaction --no-progress
 artifacts:
   expire_in: 1 month
   paths:    
     - vendor/
     - .env
cache:
    key: ${CI_COMMIT_REF_SLUG}-composer
    paths:
     - vendor/

build:js:
 image: node:12
 stage: build
 script:
  - npm install
  - npm run production

 artifacts:
  expire_in: 1 week
  paths:
      - node_modules/
      - public/css/
      - public/js/
cache:
   key: ${CI_COMMIT_REF_SLUG}-npm
   paths:
      - node_modules/

.init_ssh: &init_ssh |
  mkdir -p ~/.ssh
  eval $(ssh-agent -s)
  echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
  chmod 644 ~/.ssh/known_hosts
  echo "${SSH_PRIVATE_KEY}" | tr -d '\r' | ssh-add - > /dev/null


deploy:
 stage: deploy
 dependencies:
   - build:js
 script:
   - *init_ssh
   - ./vendor/bin/dep deploy production -vvv
 only:
   - master